:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Very-dark-cyan: hsl(158, 45%, 20%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Font-Monserrat: 'Montserrat', sans-serif;
    --Font-Fraunces: 'Fraunces', serif;
}

body {
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

p {
    font-size: 14px;
    font-family: var(--Font-Monserrat);
    color: var(--Dark-grayish-blue);
}

h1 {
    font-family: var(--Font-Fraunces);
    font-weight: 700;
}

.container {
    align-items: center;
    max-width: 600px;
    width: 90%;
    background: var(--White);
    border-radius: 10px;
}

.img-desktop {
    display: none;
    max-width: 50%;
    border-radius: 10px 0px 0px 10px
}

.img-mobile {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px
}

.prices {
    display: flex;
    align-items: center;
    gap: 40px;
}

.price-now {
    font-family: var(--Font-Fraunces);
    font-weight: 700;
    color: var(--Dark-cyan);
    font-size: 20px;
}

.price-before {
    text-decoration: line-through;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.perfume {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card {
    padding: 20px;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: var(--Font-Monserrat);
    font-size: 15px;
    font-weight: 700;
    color: var(--White);
    background-color: var(--Dark-cyan);
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
}

a:hover {
    background-color: var(--Very-dark-cyan);
}

.cart-icon {
    padding-right: 10px;
}

@media (min-width: 768px) {
    .container-parent {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }

}